@import '../static/style/style.scss';

* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 980px;
  overflow: hidden;
}

#app {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  &>header {
    flex: 0 0 auto;
    height: 60px;
    .row {
      &>div {
        display: inline-block;
        padding: 0px 15px;
        height: 60px;
        line-height: 60px;
      }
      .logo, .intro {
        font-size: 2rem;
      }
      .app-menu {
        margin: 0;
        li {
          padding: 0 10px;
          float: left;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
  &>article {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
    .nav-menu {
      flex: 0 0 auto;
      .lv1-menu {
        height: 100%;
        width: 50px;
        float: left;
        li {
          color: #fff;
          line-height: 3rem;
          cursor: pointer;
          text-align: center;
          &.active{
            background: rgb(237, 239, 240);
            color:#16499a;
            cursor: pointer;
          }
        }
      }
      .assistant {
        width: 160px;
        float: left;
        height: 100%;
        background: rgb(237, 239, 240);
        h3 {
          font-weight: 400;
          line-height: 50px;
        }
        .lv2-menu {
          li {
            padding: 0px 10px;
            font-size: 0.875rem;
            line-height: 40px;
            cursor: pointer;
            a {
              display: block;
              color: #333;
              border-bottom: 1px solid #e5e5e5;
              text-decoration: none;
            }
            &.active {
              background: #fff;
              border-bottom: 1px solid #888;
              a {
                color: #16499a;
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .router-content {
      flex-grow: 1;
      overflow-y: auto;
      &>.content {
        padding: 15px;
        .title {
          margin: 15px 0px;
          padding-bottom: 5px;
          border-bottom: 1px solid #ececec;
        }
      }
    }
  }
}

.prettyprint {
  background-color: #eeeeee;
  border-width: 1px !important;
  border-color: #eeeeee !important;
  border-left: 8px #555555 solid !important;
  overflow: hidden;
  overflow-x: auto;
  ol {
    background-color: transparent !important;
    li {
      background-color: white !important; 
      list-style-type: decimal !important; 
      padding-left: 1em; 
      border-bottom: 1px #eee solid;
      line-height: 1.25rem;
      &:last-child{
        border-bottom: 0;
        }
    }
  }
  code {
    .tag {
      font-size: 1rem;
      color: #008;
    }
  }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
    transform: translateX(10px);
    opacity: 0;
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}